<script name="weather-querydate" type="text/template">
    <div class="template weather-querydate">
        <div class="datebar">
            <span>2017-10-01</span>
        </div>
        <div class="top">
            <span>惠州</span>
            <span>13℃~26℃</span>
        </div>
        <div class="middle">
            <div class="currntTemp">26℃</div>
            <div class="currentweather">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-riqing"></use>
                </svg>
                <span class="weathertest">晴</span>
            </div>
        </div>
        <div class="bottom">
            <span>轻度污染</span>
            <span>东北风3-4级</span>
        </div>
        <div class="more">
            <span>查看更多</span>
        </div>
    </div>
</script>

<script name="weather-future" type="text/template">
    <div class="template weather-future">
        <div class="datebar">
            <span>2017-10-02</span>
        </div>
        <div class="top">
            <span>惠州</span>
        </div>
        <div class="middle">
            <div class="tempRange">13℃~26℃</div>
            <div class="currentweather">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-riqing"></use>
                </svg>
                <span class="weathertest">晴</span>
            </div>
        </div>
    </div>
</script>